.banner {
    height: 270px
}

.banner__imagem {
    width: 100vw;
    height: 100%;
}

.data {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 24px;
    background: var(--gradiente-boreal);
    padding: 32px 24px;
    text-align: center;
}

.data__imagem {
    width: 100%;
    height: 381px;
    border-radius: 16px;
}

.data__subtitulo {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.data__texto {
    line-height: 40px;
    padding: 0 42px;
}

.data__botao {
    width: 312px;
    height: 56px;
    background: #4650BD;
    box-shadow: 4px 4px 0px #444444;
    border-radius: 16px;
    font-weight: 700;
    text-align: center;
}

.data__botao::after {
    content: url(../images/icone\ ingresso.svg);
    position: absolute;
    padding-left: 16px;
}

@media screen and (min-width: 768px) {
    .banner {
        height: 384px;
    }

    .data {
        padding: 32px 79.5px;
    }

    .datas__imagem {
        height: 381px;
    }
}



@media screen and (min-width: 1440px) {
    .banner {
        width: 407px;
    }

    .data {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        padding: 65px 120px;
    }

    .data__imagem {
        grid-row: span 3;
        grid-column: 1;
    }

    .data__subtitulo {
        grid-row: 1;
        grid-column: 2;
    }

    .data__texto {
        grid-row: 2;
        grid-column: 2;
    }

    .data__botao {
        grid-row: 3;
        grid-column: 2;
    }
}