.banner {
    height: 275px;
}

.banner__imagem {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .banner {
        height: 384px;
    }
}

@media screen and (min-width: 1440px) {
    .banner {
        height: 407px;
    }
}