@import url(cabecalho.css);
@import url(principal.css);
@import url(setores.css);
@import url(rodape.css);

:root {
    --gradiente-boreal: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
    --azul-escuro: #304968;
    --verde-escuro: #008364;
    --verde-claro: #36C1A0;
    --roxo-boreal: #4650BD;
    --roxo-claro: #B6BCFF;
    --branco: #FFFFFF;

    --pista-premium: #0E7DF1;
    --pista-comum: #FE016E;
    --cadeiras-terreo: #01A89E;
    --cadeiras-superiores: #3F51B5;
    --rampas: #0E7DF1;

    --fonte-titulos: 'Calistoga';
    --fonte-texto: 'Raleway'
}

body {
    box-sizing: border-box;
    color: var(--branco);
    width: 100vw;
    height: 100vh;
    font-family: var(--fonte-texto);
    font-size: 20px;
    font-weight: 500;
}

.erro {
    text-align: center;
    font-size: 48px;
    padding: 5rem;
}